<div id="hcard-Jeremy-French" class="vcard">
    <a class="url fn" href="http://www.jeremyfrench.co.uk/" rel="me">Jeremy French</a>
    <div class="adr">
        <span class="locality" >London, UK</span>
    </div>
    <div class="url">http://www.jeremyfrench.co.uk</div>
    <div class="role">Web Developer</div>
    <ul>
        <li><a class="email" href="/cdn-cgi/l/email-protection#9ef4fbecfbf3e7def4fbecfbf3e7f8ecfbf0fdf6b0fdf1b0ebf5">email</a></li>
        <li><a class="url" href="skype:jeremyfrench">SKYPE</a></li>
        <li><a class="url" href="http://twitter.com/JFrenchTweet" rel="me">Twitter</a></li>
        <li><a class="url" href="http://www.flickr.com/people/69364967@N00/" rel="me">Flickr</a></li>
        <li><a class="url" href="http://www.linkedin.com/in/jeremyfrenchuk/" rel="me">Linkedin</a></li>
        <li><a class="url" href="https://github.com/jeremyfrench" rel="me">Github</a></li>
        <li><a class="url" href="http://drupal.org/user/419876" rel="me">Drupal.org</a></li>
        <li><a class="url" href="http://stackoverflow.com/users/56672/jeremy-french" rel="me">Stack overflow</a></li>
        <li><a class="url" href="http://delicious.com/jeremy.french" rel="me">del.ico.us</a></li>
        <li><a class="url" href="https://plus.google.com/u/0/105949896016302326668/posts" rel="author">google profile</a></li>
    </ul>
</div>
