---
layout: default
---
<h1>Blog</h1>

<h2>Recent posts</h2>
{% for post in site.posts limit:3 %}
<div class="article">
    <div class="well">
        <h2><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h2>
        <div class="content">
            {{ post.excerpt }}
        </div>
    </div>
</div>
{% endfor %}
<h2>Archive</h2>
{%  assign year = 0 %}
{% for post in site.posts offset:4 %}
   {% assign postYear = post.date | date: "%Y" %}
   {%if year != postYear %}
      {%if year != 0 %}</ul>{% endif %}
   {% assign year = postYear %}
   <h3>{{ year }}</h3>
     <ul>
   {% endif %}  
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%-d %b" }} - {{ post.title }}</a></li>
{% endfor %}
  </ul>


